<!DOCTYPE html>
<html>
<head>
    <script src="angular_1.2.17.js"></script>
    <script src="js/myapp.js"></script>
    <script src="js/counterapp.js"></script>
    <script src="js/person.js"></script>
    <script src="js/master.js"></script>
    <script src="js/controllerinheritance.js"></script>
    <script src="js/parseexpression.js"></script>
    <script src="js/interpolation.js"></script>
</head>
<body ng-app="myAppModule">


<div ng-controller="MyController">
    <h5>Hello {{ clock.today }}!</h5>
</div>


<div ng-controller="CounterController">
    <h4>The simplest adding machine ever</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <a ng-click="subtract(1)" class="button alert">Subtract</a>
    <h4>Current Count: {{counter}}</h4>
</div>


<div ng-controller="PersonController">
    <h4>The person object has {{person}}</h4>
    <h5>The Name of the person is {{person.name}}</h5>
</div>

<div ng-controller="ParentController">
    <h4>Controller Inheritance</h4>
    <div ng-controller="ChildController">
      <a ng-click="sayHello()">Say Hello</a>
    </div>
    {{person}}
</div>

<div ng-controller="ParseExprController">
    <h4>Parse Expression Example</h4>
    <input ng-model="expr" type="text" placeholder="Enter an expression">
    <h4>Parsed Value: {{parsedValue}}</h4>

</div>

<div ng-controller="InterpolationController">
    <h4>Interpolation Example. Use the syntax [to] for template generation</h4>
    <input ng-model="to" type="email" placeholder="Recipient">
    <textarea ng-model="emailBody"></textarea>
    <pre>{{previewText}}</pre>

</div>

</body>
</html>